<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ping.otmsapp">

    <application
        android:allowBackup="false"
        android:name=".ApplicationInitialization"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <!-- seuic 扫描抢API-->
        <uses-library android:required="false" android:name="android.scanner.library"/>

        <!--高德地图-->
        <meta-data android:name="com.amap.api.v2.apikey" android:value="c82fc27ba90c4b075e9d2c4503e8afa4"/>

        <!--高德地图定位服务 -->
        <service android:name="com.amap.api.location.APSService" android:process=":location"/>
        <!--轮询服务 -->
        <service android:name=".server.dispatch.LoopService" android:process=":loop"/>
        <!--登录,入口-->
        <activity android:name=".mvp.view.LoginActivity">
            <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--调度,单例-->
        <activity android:name=".mvp.view.DispatchActivity" android:launchMode="singleInstance" />

        <!--回收-->
        <activity android:name=".mvp.view.RecycleActivity"/>
        <!--预警-->
        <activity android:name=".mvp.view.WarnActivity"/>
        <!--历史-->
        <activity android:name=".mvp.view.HistoryActivity"/>
        <!--费用-->
        <activity android:name=".mvp.view.CostActivity"/>
        <!--单页回收-->
        <activity android:name=".mvp.view.SingeRecycleActivity"/>

    </application>

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于进行网络定位,允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--电源管理-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--解锁-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!--震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--可以直接弹出一个系统对话框让用户直接添加app到白名单-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!--快捷方式-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!--授予应用程序访问系统开机/关机等事件的权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>
